*, *:before, *:after, *:focus, *:hover{
    outline: none !important;
    text-decoration: none !important;
}

body{
    color: $color_text;

    a, button {
        color: $color_text;

        &:hover{
            color:$color_text;
        }
    }
}